// @source http://smacss.com/book/type-layout
//
// Layout Rules
//
// Layout styles can also be divided into major and minor styles based on
// reuse. Major layout styles such as header and footer are traditionally
// styled using ID selectors but take the time to think about the elements
// that are common across all components of the page and use class selectors
// where appropriate.

@import url(//db.onlinewebfonts.com/c/ce7d1d5771e921b59bf333b1ef2d1a62?family=NHaasGroteskDSW01-65Md);

@font-face {font-family: "NHaasGroteskDSW01-65Md"; src: url("//db.onlinewebfonts.com/t/ce7d1d5771e921b59bf333b1ef2d1a62.eot"); src: url("//db.onlinewebfonts.com/t/ce7d1d5771e921b59bf333b1ef2d1a62.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ce7d1d5771e921b59bf333b1ef2d1a62.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ce7d1d5771e921b59bf333b1ef2d1a62.woff") format("woff"), url("//db.onlinewebfonts.com/t/ce7d1d5771e921b59bf333b1ef2d1a62.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ce7d1d5771e921b59bf333b1ef2d1a62.svg#NHaasGroteskDSW01-65Md") format("svg"); }

* {
    margin: 0;
    padding: 0;
    outline: none;
}

.wrapper {
    margin: 0 auto;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    // height: 100vh;
    justify-content: flex-start;
    transition: all 0.1s ease;
        // border-left: 1px solid blue;
        // border-right: 1px solid blue;
    &--smaller {
        max-width: 65vw;
        // border-left: 1px solid red;
        // border-right: 1px solid red;
    }
}

html {
    font-family: Helvetica, sans-serif;
    color: #101820;
}

main {
    height: 100vh;
}

.bio {
    &__copy {
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 30px;
    }
}


.nav {
    display: flex;
    justify-content: space-between;
    transition: all 0.3 ease-out;
    &--fix {
        position: fixed;
        margin-top: 1%;
    }
    &--left {
        display: flex;
    }
    &--left-item {
        display: flex;
        align-items: center;
        ul {
            overflow: hidden;
            width: 0;
            height: 80px;
        }
        &:hover {
            ul {
                width: 200px;
                height: 80px;
            }
        }
    }
    &--right {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        ul {
            overflow: hidden;
            width: 0;
            height: 80px;
            text-align: right;
        }
        &:hover {
            ul {
                width: 200px;
                height: 80px;
            }
        }
    }
    &__button {
        min-width: 100px;
        min-height: 100px;
        border: 3px solid black;
        font-size: 42px;
        border-radius: 50%;
        margin-right: 15px; //width between sizes
        a {
            color: black;
        }
        &--x-large {
            min-width: 150px;
            border-radius: 70px;
        }
    }
    &__list {
        list-style-type: none;
        margin: 0px 5%;
    }
    &__link {
        font-size: 22px;
        color: black;
        white-space: nowrap;
        &:hover {
            text-decoration: line-through;
            color: #44D62C;
        }
        &:active {
            text-decoration: line-through;
            color: #2f951e;
            position: relative;
            top: 1px;
        }
    }
}

//alternate nav state

.nav--fix {
    flex-direction: column;
    .nav--left {
        flex-direction: column;
    }
    .nav__button {
        margin-right: 0;
        margin-top: 15px;
    }
    .nav__button--x-large {
        min-width: 100px;
        min-height: 150px;
    }
    .nav--right {
        flex-direction: row;
        ul {
            text-align: left;
        }
    }
}


.text {
    margin-top: 75vh;
}


.perspective-text {
	color: black;
	font-family: "NHaasGroteskDSW01-65Md";
	font-size: 58px;
	font-weight: 900;
	letter-spacing: -2px;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: scale(3) translate(-40%, -50%);
}

.perspective-line {
	height: 50px;
	overflow: hidden;
    position: relative;
    &--2 {
        color: #44D62C;
    };

	p {
		margin: 0;
		height: 50px;
		line-height: 50px;
		transition: all 0.3s linear;
	}

	&:nth-child(odd) {
		transform: skew(60deg, -30deg) scaleY(0.667);
	}

	&:nth-child(even) {
		transform: skew(0deg, -30deg) scaleY(1.333);
	}

	&:nth-child(1) {
		left: 29px;
	}
	
	&:nth-child(2) {
		left: 58px;
	}

	&:nth-child(3) {
		left: 87px;
	}

	&:nth-child(4) {
		left: 116px;
	}

	&:nth-child(5) {
		left: 145px;
	}
}

main {
    margin-bottom: 25%;
}


.project {
    padding: 7.5% 0;
    &-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &__image-box {
            display: flex;
            flex-direction: column;
            margin-right: 5%;
        }
        &__img {
            width: 100%;
            height: auto;
        }
        &__content {
            max-width: 520px;
            min-width: 400px;
            margin-right: 5%;
        }
        &__table {
            font-size: 22px;
            margin-bottom: 20px;
            &-title {
                text-transform: uppercase;
                font-weight: bold;
                padding-bottom: 10px;
            }
            &-value {
                padding-left: 25px;
                padding-bottom: 10px;
            }
        }
        &__copy {
            font-size: 20px;
            line-height: 24px;
        }
        &__label {
            text-align: right;
            margin: 5px 0;
        }
    }
    &--img {
        .project {
            &-card {
                flex-direction: row-reverse;
                &__image-box {
                    margin-right: 0;
                }
            }
        }
        &-large {
            .project-card {
                justify-content: center;
                &__image-box {
                    margin-right: 0;
                }
            }
        }
    }
}



@media only screen and (max-width: 1360px) {
    .wrapper {
        max-width: 90vw;
        &--smaller {
        }
    }
}
@media only screen and (max-width: 1040px) {
    .wrapper {
        max-width: 90vw;
    }

}
@media only screen and (max-width: 960px) {
    .home-copy {
        font-size: 40px;
        line-height: 50px;
    }
    .home__categories {
        flex-direction: column;
        height: 40vh;
    }
    .home__category-box {
        .home__category-heading {
            left: 0;
            opacity: 1;
        }
        .home__category--list-item {
            left: 0;
            top: 0;
            opacity: 1;
        }

    }

}
@media only screen and (max-width: 768px) {
    .wrapper {
        max-width: 95vw;
    }
    .home-copy {
        font-size: 36px;
        line-height: 44px;
    }

  }
  
  @media only screen and (max-width: 640px) {
    .wrapper {
        max-width: 95vw;
    }
    .home-copy {
        font-size: 30px;
        line-height: 38px;
    }
    .project-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__image-box {
            display: flex;
            flex-direction: column;
        }
        &__img {
            width: 100%;
            height: auto;
        }
        &__content {
            width: 35%;
        }
        &__table {
            font-size: 14px;
            margin-bottom: 10px;
            &-title {
                text-transform: uppercase;
                font-weight: bold;
                padding-bottom: 10px;
            }
            &-value {
                padding-left: 25px;
                padding-bottom: 10px;
            }
        }
        &__copy {
            font-size: 16px;
            line-height: 20px;
        }   
    }
}

